In [2]:
from pyspark.sql import SparkSession

In [4]:
# Create a SparkSession
spark = SparkSession.builder.appName("Analysis").getOrCreate()
spark

In [17]:
# Load the data from a file into a DataFrame
customer_df = spark.read.format('csv') \
                .option("header", "true") \
                .load("data/customers.csv")

# In dataframe
print(customer_df)

# Hiển thị loại dữ liệu từng trường thông tin
print("Dtypes: " % customer_df.dtypes)
 
print("Schema: ")
customer_df.printSchema()
 
print("Hiển thị 20 dòng đầu tiên:")
customer_df.show()

print("Hiển thị 5 dòng đầu tiên:")
customer_df.head(3)


print("Hiển thị mô tả thống kê: ")
customer_df.describe().show()

DataFrame[id: string, name: string, billing_country: string]
Dtypes:
Schema:
root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- billing_country: string (nullable = true)

Hiển thị 20 dòng đầu tiên:
+---+------------------+---------------+
| id|              name|billing_country|
+---+------------------+---------------+
|  1|   Serenity Ladner|         Canada|
|  2|      Lucy Baldwin|         Canada|
|  5|    Skylar Coffman|            USA|
|  6|      Riley Kinsey|            USA|
|  7|    Heidi Spurlock|         Canada|
| 10|     Makenna Rojas|         Canada|
| 15|   Lillian Strange|         Canada|
| 17|       Erin Gorman|         Canada|
| 18|        Abigail Le|            USA|
| 22|      Alana Herzog|            USA|
| 30|     Amelia Kruger|         Canada|
| 31|   Katherine Lilly|            USA|
| 32|      Nicole Fitch|         Canada|
| 33|      Reagan Floyd|         Canada|
| 34| Penelope Robinson|         Canada|
| 41|    Crystal Barney|         Canada|
| 46|Guadalupe Childers|         Canada|
| 49|       Amelia Sosa|            USA|
| 53|     Hillary Davis|             UK|
| 56|     Ethel Edwards|             UK|
+---+------------------+---------------+
only showing top 20 rows

Hiển thị 5 dòng đầu tiên:
Hiển thị mô tả thống kê:
+-------+------------------+--------------+---------------+
|summary|                id|          name|billing_country|
+-------+------------------+--------------+---------------+
|  count|               519|           519|            519|
|   mean|1073.1888246628132|          null|           null|
| stddev| 605.9826180579643|          null|           null|
|    min|                 1|Aada Magnusson|        Albania|
|    max|               997|   Zwana Desta|       Zimbabwe|
+-------+------------------+--------------+---------------+

In [22]:
# Truy cập một cột/trường thông tin
customer_df.select(['name','billing_country']).show()

[Row(name='Dang Sinh', billing_country='Vietnam'),
 Row(name='Pham Phuc', billing_country='Vietnam'),
 Row(name='Bui Tuan', billing_country='Vietnam'),
 Row(name='Ngo Vuong', billing_country='Vietnam'),
 Row(name='Phan Thinh', billing_country='Vietnam')]

In [ ]:
# Truy cập một dải thông tin cột/trường thông tin dùng head/tail
customer_df.select(['name','billing_country']).head(5)

In [30]:
# Perform the analysis the location of customers
result = customer_data.groupBy("billing_country").count()

In [31]:
# Show the result
result.show()

+---------------+-----+
|billing_country|count|
+---------------+-----+
|         Russia|   30|
|          Yemen|    7|
|         Sweden|    7|
|        Eritrea|    1|
|       Djibouti|    3|
|         Turkey|   13|
|         Malawi|    1|
|           Iraq|    1|
|        Germany|   30|
|         Jordan|    4|
|    Ivory Coast|    1|
|         France|   13|
|        Algeria|    5|
|       Slovakia|    2|
|         Angola|    2|
|          Qatar|    3|
|        Lesotho|    2|
|        Albania|    1|
|     Madagascar|    1|
|        Finland|    9|
+---------------+-----+
only showing top 20 rows

In [26]:
# Load the order data
order_data = spark.read.format('csv').option("header", "true").load("data/orders.csv")
print(order_data)

DataFrame[id: string, customer_id: string, product_id: string, delivery_country: string]

In [34]:
# Lọc dữ liệu:
# Lọc các order có customer_id <= 10
order_data.filter("customer_id <= 10").show()

+---+-----------+----------+----------------+
| id|customer_id|product_id|delivery_country|
+---+-----------+----------+----------------+
| 52|          6|       599|          Malawi|
|146|          5|       263|             USA|
|146|          5|       688|             USA|
|146|          5|       293|             USA|
|146|          5|       864|             USA|
|189|          1|       307|          Canada|
|189|          1|       508|          Poland|
|391|          5|       635|  Czech Republic|
|391|          5|       380|             USA|
|391|          5|       497|        Slovenia|
|562|          6|       916|         Ukraine|
|562|          6|        11|             USA|
|562|          6|       643|             USA|
|622|          6|       399|             USA|
|622|          6|       840|             USA|
|622|          6|       794|             USA|
|622|          6|       858|         Tunisia|
|622|          6|       363|             USA|
|622|          6|       707|             USA|
|818|         10|       778|          Canada|
+---+-----------+----------+----------------+
only showing top 20 rows

In [32]:
# Phân tích trên tập dataframe. 
# Lọc khách hàng từ Vietnam, gộp thông tin 2 bảng orders và customers dựa vào id. 
joined_df = customer_df.filter(customer_df.billing_country == "Vietnam")\
             .join(order_data,order_data.customer_id == customer_df.id) 
joined_df.show(5)

+----+--------+---------------+---+-----------+----------+----------------+
|  id|    name|billing_country| id|customer_id|product_id|delivery_country|
+----+--------+---------------+---+-----------+----------+----------------+
|1008|Bui Thom|        Vietnam| 14|       1008|       313|         Vietnam|
|1008|Bui Thom|        Vietnam| 14|       1008|       195|          Guinea|
|1008|Bui Thom|        Vietnam| 14|       1008|       758|         Vietnam|
|2084|Bui Tuan|        Vietnam| 25|       2084|       398|         Vietnam|
|2084|Bui Tuan|        Vietnam| 25|       2084|       851|         Vietnam|
+----+--------+---------------+---+-----------+----------+----------------+
only showing top 5 rows

In [30]:
# Xóa bỏ 1 cột thông tin
joined_df.drop("customer_id").printSchema()

root
 |-- id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- billing_country: string (nullable = true)
 |-- id: string (nullable = true)
 |-- product_id: string (nullable = true)
 |-- delivery_country: string (nullable = true)

In [ ]:
# Lọc dữ liệu: 

Hiển thị

In [37]:
# Stop the SparkSession
spark.stop()

### Bài tập thực hành

1.  Đọc file products.csv trên vào 1 dataframe có tên product_df.

a. Hiển thị schema, 10 dòng đầu và 10 dòng cuối của product_df

b. Hiển thị thống kê của product_df

c. Hiển thị số lượng đơn hàng của mỗi khách hàng theo tên trong customer_df

d. Hãy gộp 2 dataframe product_df và order_data thành dataframe có tên order_product với các thông tin customer_id, product_id, price, delivery_country.

e. Hãy gộp 2 dataframe order_product và customer_data với các thông tin name, id, product_id, price, billing_country, delivery_country.

f. Hãy gộp 2 dataframe order_product và customer_data với các thông tin name, id, product_id, price, delivery_country khi giao hàng trong nước (delivery_country = billing_country)

Bài 2. Tạo 1 ứng dụng Spark tên "practice_02" để đọc tệp "Salaries.csv" vào Pyspark DataFrame.

a)Xóa các cột không có thông tin trong df

b) Hiển thị thống kê của df

c) Xóa các dòng có tiền lương tổng (TotalPay) <=0

d) Điền giá trị 0 vào các ô thiếu dữ liệu.

e) Hiển thị tên và nghề nghiệp những người có tổng lương < 50000